@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;700;800&display=swap');

:root{
	--primary-color: #ffffff;
	--secondary-color: #3a86ff;
	--accent-color: #08090A;
	--error-color: #A71D31;
	font-family: 'Work Sans', sans-serif;
	
	--font-weight-semiBold: 500;
}

.font-weight-semiBold{
	font-weight: var(--font-weight-semiBold);
}

* {
	box-sizing: border-box;
}

a{
	color: var(--accent-color);
	text-decoration: none;
}

body {
	margin: 0;
	background-color: var(--primary-color);
}

fieldset{
	  border: 0;
	  padding: 0;
	  margin: 0;
}

*:focus{
	outline: none
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column{
	flex-direction: column;
}

header{
	width: clamp(170px,11vw,220px);
	height: 100vh;
	background-color: var(--secondary-color);
	color: var(--primary-color);
    position:absolute;
    top:0;    
    left:0;
    z-index: 100;
    text-align:center;
    display: flex;
    flex-direction: column;
}

.main-header-title {
	font-size: 1.8rem;
}

.main-header-title a {
	color: var(--primary-color);
}

.main-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem;
	margin: 0.5rem 0;
}

.main-nav > li a {
	color: var(--primary-color);
	transition: opacity 0.25s ease-out;
}

.main-nav > li a:hover {
	opacity: 0.5;
}

.profile-link{
	margin-top: auto;
}

span input[type="submit"]{
	border: 0;
	color: var(--primary-color);
	background: transparent;
	font-size: 1.2rem;
	margin-top: auto;
	padding: 1rem 0;	
}

input[type="submit"]:hover{
	cursor: pointer;
}



.container {
	margin-left: clamp(175px,12vw,220px);
	margin-right: 0.5rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-heading,
.modal-heading{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-direction: row;
}

.table-heading > h2 {
	padding: 0;
	margin: 0;
}

table,tbody,thead,tr{
	text-align: left;
	width: 100%;
}

table, th, td {
  padding: 0.6vw;
  border: 1px solid var(--accent-color);
  border-collapse: collapse;
}

.table{
	border: 1px solid var(--accent-color);
}

.shadow-depth{
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.action-cell {
	text-align: center;
	padding: 0;
}

.btn{
	font-size: 0.9rem;
	font-weight: 700;
}

.btn:hover{
	cursor:pointer;
}

.submit-btn{
	width: 100%;
	border-radius: 5px;
	transition: background 0.3s ease, color 0.3s ease;
}

.submit-btn-auth{
	color: var(--accent-color);
	background: var(--primary-color);
}

.submit-btn-auth:hover{
	background: var(--secondary-color);
	color: var(--primary-color);
}

.submit-btn-new{
	color: var(--accent-color);
	background: var(--primary-color);
}

.submit-btn-new:hover{
	background: var(--accent-color);
	color: var(--primary-color);
}

.submit-btn-crud{
	background: var(--accent-color);
	color: var(--primary-color);
}

.submit-btn-crud:hover{
	color: var(--accent-color);
	background: var(--primary-color);
}

.action-btn{
	width: calc(100% - 2rem);
	height: clamp(23px, 3vh, 31px);
	background:transparent;
	border-radius: 5px;
	transition: background 0.3s ease, color 0.3s ease;
}

.edit-btn{
	border: 2px solid var(--secondary-color);
}

.edit-btn:hover{
	background: var(--secondary-color);
	color: var(--primary-color);
}


.delete-btn{
	border: 2px solid var(--error-color);
}

.delete-btn:hover{
	background: var(--error-color);
	color: var(--primary-color);
}

.modal{
	visibility: hidden;
	position:absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color:rgba(75,75,75,0.7);
	opacity: 0;
    transition: all 0.2s ease-in;
}

.modal-heading{
	padding: 0.5rem 1rem;
}

.modal-container {
	position:absolute;
	width: 500px;
	background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.select-label{
	display: block;
	margin-bottom: 0.3rem;
}

.field-group{
	padding: 0.5rem 1rem;
	display: block;
}

.field-group input[type="text"],
.field-group input[type="email"],
.field-group input[type="password"],
.field-group select {
	width: 100%;
	padding: 0.2rem;
	border:none;
	border-bottom: 1px solid;
	font-size: 1rem;
	background: transparent;
}

.normal-color{
	color: var(--accent-color);
	border-color: var(--accent-color);
}

.inv-color{
	color: var(--primary-color);
	border-color: var(--primary-color);
}

::placeholder {
	color: inherit;
}

.field-group input[type="submit"]{
	width: 100%;
	padding: 0.2rem;
	border:none;
	border-bottom: 1px solid var(--primary-color);
	font-size: 1rem;
	background: var(--primary-color);
}

.active{
	visibility: visible;
	opacity: 1;
}

.notification{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	text-align: center;
	color: var(--primary-color);
	transition: opacity 0.7s ease;
}

.auth-wrapper{
	width: 100%;
	height: 100vh;
}

.auth-header{
	text-align: center;
	width: 100%;
	border-bottom: 3px solid var(--primary-color);
	margin: 1rem 50%;
}

.basic-radius{
	border: 1px solid var(--accent-color);
	border-radius: 12px;
}

.auth-container{
	width: clamp(200px, 40%, 500px);
	background: var(--secondary-color);
}

.auth-header > h1 {
	margin: 0;
	margin: 1rem 0;
}

.error {
	background-color: red;
}

.success {
	background-color: green;
}

.seen {
	opacity: 0;
}

.expanding-link{
	position:relative;
	transition: color 0.2s ease-out;
}

.expanding-link:hover{
	color: var(--primary-color);
}
